node_modules/
dist/
android/app/build/
android/app/src/main/assets/*
!android/app/src/main/assets/.keep

# Keystore file - contains sensitive credentials
keystore.jks

# Android App Bundle - build artifact
*.aab

# Keystore properties file - contains sensitive credentials
/android/keystore.properties
cmdline-tools.zip
